<configuration>
  <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
  <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

  <root level="info">
    <appender-ref ref="CONSOLE"/>
  </root>

  <!-- Noisy logs from the ProfileFileReader -->
  <logger name="software.amazon.awssdk.profiles.internal" level="ERROR"/>
</configuration>
